@font-face{
  font-family: "Montserrat";
  src: url('../fonts/montserrat/Montserrat-Medium.woff') format('woff'),
  url('../fonts/montserrat/Montserrat-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: block;
}


@font-face{
  font-family: "Montserrat";
  src:url('../fonts/montserrat/Montserrat-Bold.woff') format('woff'),
  url('../fonts/montserrat/Montserrat-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: block;
}


@font-face{
  font-family: "Montserrat";
  src: url('../fonts/montserrat/Montserrat-Regular.woff') format('woff'),
  url('../fonts/montserrat/Montserrat-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}



@font-face{
  font-family: "Montserrat";
  font-weight: 600;
  font-style: normal;
  font-display: block;
  src: url('../fonts/montserrat/Montserrat-SemiBold.woff') format('woff'),
  url('../fonts/montserrat/Montserrat-SemiBold.woff2') format('woff');
}


@font-face{
  font-family: 'Open Sans';
  font-weight: 600;
  font-style: normal;
  font-display: block;
  src: url('../fonts/open_sans/OpenSans-SemiBold.woff') format('woff'),
  url('../fonts/open_sans/OpenSans-SemiBold.woff2') format('woff2');
}





















  
  
  body{
    font-family: 'Open Sans', sans-serif;
    font-family: "Montserrat",sans-serif;
    color: #fff;
    margin: 0;
  }
  

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.header {
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,0.7066176812521884) 100%, rgba(37,37,37,0.8830882694874825) 100%, rgba(9,9,121,0.6393907904958859) 100%);
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}

.header_container {
  width: 100%;
  max-width: 1410px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  padding: 0 13px;
}

.point_menu {
  color: #fff;
  margin-left: 70px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.195em;
  color: #fff;
  text-decoration: none;
  transition: .3s;
}

.point_menu:hover {
  color: #FF0000;
  transition: .3s;
}

.header_menu {
  display: flex;
  margin: 0 auto;
}


.point_menu:first-child{
  margin-left:0;
}


.point_menu:nth-child(2){
  color: #FF0000;
}



.shop_cart:hover path{
  fill: #FF0000;
  transition: .3s;
}

.shop_cart{
  margin-left: 0 auto;
}


.gamburger_menu{
  width: 40px;
  height: 28px;
}


.logo svg{
  max-width:100%;
}

.logo{
  flex: 0 0 145px;
}

.menu{
  margin-left:auto;
}

/* ==========RESPONSIVE_HEADER========= */


  /* ===========1537px=========== */

  @media screen and (max-width:1537px) {
    .header_container{
      width: 100%;
      max-width: 1085px;
    }
  
    .header{
      height: 80px;
    }
  
    .point_menu{
      font-size: 16px;
    }
  
    .shop_cart{
      width: 28px;
      height: 28px;
    }
}

 /* ==================================== */


      /* ===========1280px=========== */


  @media screen and (max-width:1280px){
    .header_container{
      width: 100%;
      max-width: 980px;
    }
  
    .point_menu{
      font-size: 14px;
    }
  
    .shop_cart{
      width: 25px;
      height: 25px;
    }
}        

/* ======================== */

/* ===========1025px=========== */


@media screen and (max-width:1025px){
    .header_container{
      width: 100%;
      max-width: 850px;
    }
  
    .header{
      height: 60px;
    }
  
  
  
    .point_menu{
      font-size: 13px;
      margin-left: 50px;
    }
  
    .shop_cart{
      width: 22px;
      height: 22px;
    }
  
  
    .logo{
      flex: 0 0 120px;
    }
}

  /* =========================================== */


  /*==============872PX========================  */

@media screen and (max-width:872px){
    .header_container{
      width: 100%;
      max-width: 765px;
      margin: 0 auto;
    }
  
  
    
  
    .point_menu{
      font-size: 12px;
      margin-left: 50px;
    }
  
    .shop_cart{
      width: 20px;
      height: 20px;
      margin-left: auto;
    }

    .header_menu{
        margin: 0 auto;
      }
}


/* ==================769px=================== */

@media screen and (max-width:769px){
  .header_menu{
    display: block;
    background: #252525;
    position: fixed;
    right: -100%;
    top: 50px;
    transition: .4s;
  }

  .header {
    height: 50px;
  }

  .logo {
    flex: 0 0 100px;
  }
/* ================BURGER__MENU=============== */

  .menu-btn{
    width: 30px;
    height: 30px;
    position: relative;
    z-index: 20;
    overflow: hidden;
    margin-left: 20px;
    
  }

  .menu-btn span{
    width: 30px;
    height: 3px;
    position: absolute;
    top: 50%;
    left: 50%;
    background: #fff;
    transform: translate(-50%, -50%);
    transition: all .5s;
    display: block;
    border-radius: 2px;
  }


  .menu-btn span:nth-of-type(1){
    width: 20px;
    height: 3.1px;
    margin-left: 5px;
  }

  .menu-btn span:nth-of-type(2){
    top:calc(50% - 6px);
  }

  .menu-btn span:nth-of-type(3){
    top:calc(50% + 6px);
  }

  

  .menu.active{
    transform: translateX(0);
    position: fixed;
    top: 50px;
    right: 0; 
    display: block;
  }

.menu a{
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.195em;
  color: #fff;
  text-decoration: none;
  display: block;
  cursor:pointer;
  padding: 15px 25px;
  transition: ease-in 0.3s;
  }

.menu a:first-child{
  margin-top: 0;
  }



  .menu-btn.active span:first-of-type{
    transform: translateX(100%);
  }

  .menu-btn.active span:nth-of-type(2){
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  .menu-btn.active span:nth-of-type(3){
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  .point_menu{
    margin-left: 0;
    transition: .4s;
  }
}

/* ============================== */

/* ==============684PX============= */ 


@media screen and (max-width:684px){
  .header_menu{
    width: 100%;
    transition: .7s;
  }
  
  .menu a:last-child{
    margin:0;
  }
}

  /* ==================================== */

  /* =====================
==============630PX============= */

@media screen and (max-width:630px){
    .menu-btn{
      right:0;
    }
  
  
    .menu.active{
     left: 0;
  }
  
}

    /* ==================================== */


  

/* =====================
==============500PX============= */


@media screen and (max-width:500px){
  .menu a{
    font-size: 15px;
  }

}


/* ==================================== */










/* =====================
==============COMPONENTS INTRO!!!============= */


.components_intro{
  background: url('../img/components-intro.png') no-repeat center top/cover;
  height: 100vh;
  object-fit: cover;
  width: 100%;
  animation: move 2s 1;
}



@keyframes move{
  from{
    opacity: 0;
  }

  to{
    opacity: 1;
  }
}







@media screen and (max-width:430px){
  .components_intro {
    background-position-x: -17rem;
  }
}






/* ==================================== */


/* =====================
==============COMPONENTS INTRO TITLE!!!============= */


h1{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 70px;
    color: #252525;
    letter-spacing: 0.06em;
    line-height: 2;
    text-align: center;
    padding: 190px 210px 0;
}

.components{
    width: 1410px;
    margin: 0 auto;
    margin-top: 120px;
    border: 2px solid #857979;
}

.b1{
    margin-bottom: 120px;
}

/* ==================================== */






/* ================SELLS CARDS===============
==================== */



/* ============LEFT PART=======
=========== */
.sells_container{
    display: flex;
    justify-content: space-around;
}





.name_part{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;


    font-size: 18px;
    letter-spacing: 0.07em;
    color:#000;
    padding: 13px 0 8px;
}

.mark_part{
  font-family: "Montserrat", sans-serif;
  font-weight: 400;


  color:#000;


  font-size: 18px;
  letter-spacing: 0.09em;

  padding-bottom: 8px;
}

.thing_part{
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color:#000;
  font-size: 18px;
  letter-spacing: 0.09em;

  margin-bottom: 20px;
}

.price{
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.09em;
  color:#000;

  margin-bottom: 70px;
}

.btn_buy{
  padding: 10px 12px;
  background: #E5E5E5;
  text-transform:uppercase;
  font-size:18px ;
  letter-spacing: 0.19em;
  font-family: 'Open Sans';
  font-weight: 600;
  text-decoration: none;
  color:#000;
  transition: ease-in .2s;

  position: absolute;
  bottom: 15px;

}

.btn_buy:hover{
  background: #000;
  color: #fff;
  transition: ease-in .2s;
}

.sell_cards-left{
  border-radius: 9px;
  margin-bottom: 70px;
  display: flex;
  align-items: center;
  border: 4px solid #C4C4C4;
  position: relative;
}


.sell_cards-left img{
  width: 50%;
  display: block;
}

.charach_thing{
  margin-left: 25px;
}
/* ============================= */

/* ==================
=============RIGHT PART */




.sell_cards-right{
  border-radius: 9px;
  margin-bottom: 70px;
  display: flex;
  align-items: center;
  border: 4px solid #C4C4C4;
  position: relative;
}


.sell_cards-right img{
  width: 50%;
  display: block;
}


.b2{
    margin-top: 120px;
    margin-bottom: 220px;
}


/* ==========RESPONSIVE SELLS COMPONENTS========
================= */

@media screen and (max-width:1695px){
    h1{
        padding: 190px 97px 0;
    }
}


@media screen and (max-width:1475px){
    h1{
        font-size: 63px;
    }

    .b1{
        width: 1140px;
    }

    .b2{
        width: 1140px;
    }
}


@media screen and (max-width:1340px){
    h1{
        padding: 190px 40px 0;
        font-size: 59px;
    }
}


@media screen and (max-width:1160px){
    .b1{
        width: 950px;
    }

    .b2{
        width: 950px;
    }

    h1{
        padding: 190px 85px 0;
        font-size: 46px;
    }
}


@media screen and (max-width:1010px){
    h1 {
        padding: 110px 85px 0;
        font-size: 41px;
    }

    .b1{
        width: 800px;
        margin-top: 100px;
    }

    .b2{
        width: 800px;
        margin-top: 100px;
    }
}

@media screen and (max-width:917px){
    h1 {
        padding: 110px 71px 0;
        font-size: 36px;
    }

    .b1{
        width: 750px;
    }

    .b2{
        width: 750px;
    }
}


@media screen and (max-width:800px){
    h1{
        padding: 90px 42px 0;
        font-size: 33px;
    }

    .b1{
        width: 600px;
    }

    .b2{
        width: 600px;
    }
}


@media screen and (max-width:690px){
    h1{
        padding: 85px 35px 0;
        font-size: 29px
    }

    .b1{
        width: 500px;
        margin-top: 60px;
    }

    .b2{
        width: 500px;
        margin-top: 120px;
    }
}


@media screen and (max-width:600px){
    h1{
        font-size: 26px;
    }

    .b1{
        width: 460px;
    }

    .b2{
        width: 460px;
    }
}

@media screen and (max-width:545px){
    h1 {
        font-size: 23px;
    }

    .b1{
        width: 450px;
    }

    .b2{
        width: 450px;
    }
}


@media screen and (max-width:490px){
    h1{
        padding: 60px 35px 0;
        font-size: 20px;
    }

    .b1{
        margin-top: 60px;
        margin-bottom: 60px;
        width: 360px;
    }

    .b2{
        margin-top: 60px;
        margin-bottom: 60px;
        width: 360px;
    }
}


@media screen and (max-width:435px){
    .b1{
        width: 290px;
        margin-top: 40px;
    }

    .b2{
        width: 290px;
        margin-top: 40px;
    }

    h1{
        font-size: 18px
    }
}

@media screen and (max-width:397px){
    h1{
        font-size: 16px
    }

    .b1{
        width: 240px;
    }

    .b2{
        width: 240px;
    }
}


@media screen and (max-width:365px){
    h1 {
        font-size: 15px;
        padding: 60px 29px 0;
    }
}

@media screen and (max-width:333px){
    h1{
        font-size: 14px;
        padding: 60px 26px 0;
    }
}



/* ==================RESPONSIVE SELLS CARDS=========
================================= */


/* ==========================1000PX============================*/

@media screen and (max-width:1000px){
    .name_part {
      font-size: 16px;
      padding: 7px 0 8px;
    }
  
    .mark_part {
      font-size: 16px;
      padding-bottom: 6px;
    }
  
    .thing_part {
      font-size: 16px;
      margin-bottom: 13px;
    }
  
    .btn_buy {
      padding: 8px 10px;
      font-size: 16px;
    }
  
  
  }
  
  
  /* =============================================== */
  
  /* ==========================900PX============================*/
  
  @media screen and (max-width:900px){
    .sells_container {
      display: block;
    }
  
    .sell_cards-left {
      width: 400px;
      margin: 0 auto;
      margin-bottom: 45px;
    }
  
    .sells_inner-left{
      margin: 0 auto;
      padding: 0 10px;
    }
  
  
    .sell_cards-right {
      width: 400px;
      margin: 0 auto;
      margin-bottom: 45px;
    }
  
  
    .sells_inner-right{
      margin: 0 auto;
      padding: 0 10px;
    }
  }
  
  /* =============================================== */
  
  /* ==========================450PX============================*/
  
  @media screen and (max-width:450px){

    .name_part {
      font-size: 14px;
      padding: 4px 0 4px;
    }
  
    .mark_part {
      font-size: 14px;
    }
  
    .price {
      font-size: 16px;
      margin-bottom: 60px;
    }
  
    .sell_cards-left {
      width: 360px;
    }
  
    .sell_cards-right {
      width: 360px;
    }
  }
  
  /* =============================================== */
  
  
  /* ==========================390PX============================*/
  
  @media screen and (max-width:390px){
    .sell_cards-left {
      width: 330px;
    }
  
    .btn_buy {
      padding: 6px 8px;
      font-size: 14px;
    }
  
  
    .sells_inner-left{
      padding: 0 5px;
    }
  }
  
  
  /* =============================================== */
  
  /* ==========================370PX============================*/
  
  @media screen and (max-width:370px){
    .sell_cards-left {
      width: 300px;
    }
  
    .sell_cards-right{
      width: 300px;
    }
  }
  
  
  /* =============================================== */




  /* ======================FOOTER SUPPORT================= */


  .footer_support{
    width: 100%;
    background-color:#252525;
  }
  
  .support_conteiner{
    width: 100%;
    max-width: 1410px;
    margin: 0 auto;
    padding: 0 10px;
  }
  
  .support_inner{
    display: flex;
    justify-content: space-between;
    padding: 91px 0 28px;
  }
  
  .support_title{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 19px;
    line-height: 2.2;
    letter-spacing: 0.195em;
    color: #fff;
    margin-bottom: 20px;
  }
  
  .support_subtitle{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 19px;
    line-height: 2.2;
    letter-spacing: 0.195em;
    color:#5F5F5F;
    margin-bottom: 10px;
    cursor:pointer;
    transition: ease-in .2s;
  }
  
  .support_subtitle:hover{
    color:#fff;
    transition: ease-in .2s;
  }
  
  
  /* ===============RESPONSIVE SuPPORT=========== */
  
  
  /* ====================1537px============== */
  
  
  
  @media screen and (max-width:1601px){
    .support_conteiner{
      max-width: 1250px;
    }
  }
  
  
  
  
  @media screen and (max-width:1537px){
    .support_conteiner{
      max-width: 1085px ;
    }
  }
  
  /* =========================================== */
  
  
  /* ====================1280px============== */
  
  @media screen and (max-width:1280px){
    .support_inner {
      padding: 80px 0 28px;
    }
  
    .support_title {
      font-size: 15px;
    }
  
    .support_subtitle{
      font-size: 14px;
    }
  
    .support_conteiner{
      max-width: 980px;
    }
  }
  
  /* =========================================== */
  
  
  /* ====================1024px============== */
  
  @media screen and (max-width:1024px){
    .support_inner {
      padding: 65px 0 28px;
    }
  
    .support_conteiner{
      max-width: 850px;
    }
  }
  
  /* =========================================== */
  
  /* ====================890px============== */
  
  @media screen and (max-width:890px){
    .support_conteiner {
      max-width: 765px;
    }
  
    .support_title {
      font-size: 13px;
    }
  
    .support_subtitle {
      font-size: 13px;
    }
  
  }
  
  /* =========================================== */
  
  
  /* ====================785px============== */
  
  @media screen and (max-width:785px){
    .support_conteiner {
      max-width: 690px;
    }
  
    .support_title{
      margin-bottom: 13px;
    }
  
    .support_subtitle{
      margin-bottom: 6px;
    }
  
    .support_inner{
      padding: 45px 0 20px;
    }
  }
  
  
  /* =========================================== */
  
  
  /* ====================700px============== */
  
  @media screen and (max-width:700px){
    .support_conteiner {
      max-width: 600px;
    }
  
    .support_inner {
      padding: 35px 0 15px;
    }
  
    .support_title {
      margin-bottom: 10px;
      font-size: 13px;
    }
  
    .support_subtitle {
      font-size: 13px;
    }
  
  }
  
  /* =========================================== */
  
  /* ====================600px============== */
  
  @media screen and (max-width:600px){
    .support_conteiner {
      max-width: 510px;
    }
  
    .support_inner {
      padding: 30px 0 9px;
    }
  
    .support_title {
      margin-bottom: 9px;
      font-size: 10px;
    }
  
    .support_subtitle {
      font-size: 11px;
      margin-bottom: 6px;
    }
  }
  
  
  /* =========================================== */
  
  
  /* ====================500px============== */
  
  @media screen and (max-width:500px){
    .support_inner{
      flex-wrap: wrap;
      justify-content: center;
      padding-top: 7px;
    } 
  
    .support_block{
      width: 50%;
      padding-top: 10px;
    }
  
    .support_title {
      margin-bottom: 5px;
    }
    .support_subtitle {
      margin-bottom: 3px;
    }
  
  
  }
  
  /* =========================================== */
  
  
  
  
  /* ===============FOOTER END===================== */
  
  
  
  .footer_end-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1410px;
    margin: 0 auto;
    padding: 30px 10px;
  }
  
  .footer_end-title{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 2.2;
    letter-spacing: 0.195em;
    color: #fff;
  }
  
  .footer_social svg path{
    transition: .3s;
  }



  .footer_social svg{
    margin-left: 50px;
  }


  
  .footer_social span svg{
    margin-left: 0;
  }
  
  
  .footer_social svg:hover path{
    fill: #FF0000;
    transition: .3s;
  }
  
  
  
  
  
 
  
  
  
  
  .footer_copywright{
    font-weight: 300;
    font-size: 12px;
    color: #b3b3b3;
    padding-bottom: 30px;
    text-align: center;
    background: #252525;
    padding-top: 30px;
  }
  
  
  /* ===============RESPONSIVE FOOTER END================ */
  
  
  /* ================1537PX==================== */
  
  
  @media screen and (max-width:1601px){
    .footer_end-inner{
      max-width: 1250px;
    }
  }
  
  
  
  
  @media screen and (max-width:1537px){
    .footer_end-inner {
      max-width: 1075px;
    }
  }
  
  @media screen and (max-width:1281px){
    .footer_end-inner {
      max-width: 990px;
    }
  }
  
  @media screen and (max-width:1025px){
    .footer_end-inner {
      max-width: 855px;
    }
  
    .footer_end-inner{
      padding: 20px 10px;
    }
  
  
  .footer_social svg{
      width: 25px;
      height: 25px;
    }
  
  }
  
  
  @media screen and (max-width:890px){
    .footer_end-inner {
      max-width: 770px;
    }
  
    .footer_social svg {
      margin-left: 35px;
    }

  
    .footer_end-title{
      font-size: 15px;
    }
  }
  
  @media screen and (max-width:785px){
    .footer_end-inner {
      max-width: 690px;
    }
  }
  
  
  @media screen and (max-width:700px){
    .footer_end-inner {
      max-width: 600px;
      padding: 10px 10px;
    }
  
    .footer_end-title{
      font-size: 14px;
    }
  
    .footer_social svg {
      width: 25px;
      height: 25px;
    }
  }
  
  
  @media screen and (max-width:680px){
    .footer_copywright{
      font-size: 7px;
    }
  }
  
  
  
  @media screen and (max-width:600px){
    .footer_end-inner{
      max-width: 510px;
    }
  
    .footer_social svg {
      width: 17px;
      height: 17px;
    }
  
  
    .footer_end-title{
      font-size: 10px;
    }
  
    .support_subtitle{
      font-size: 10px;
    }
  }
  
  @media screen and (max-width:550px){
    .footer_social svg {
      width: 22px;
      height: 22px;
    }
  
 
  
    .footer_end-title{
      font-size: 8px;
    }
  
    .footer_social svg {
      margin-left: 20px;
    }
  
  
    .footer_end-inner{
      padding: 8px 10px;
    }
  
  }
  
  
  @media screen and (max-width:400px){
    .footer_end-inner{
      display: block;
    }
  
    .footer_end-title{
      margin-bottom: 15px;
    }
  
    .footer_social{
      margin-bottom: 15px;
    }
  }
  
  
  @media screen and (max-width:320px){
    .footer_social svg {
      width: 13px;
      height: 13px;
    }
  
  
  }
  
  
  
  ::-webkit-scrollbar{
    width: 10px;
  }
  
  ::-webkit-scrollbar-track{
    background:#252525;
  }
  
  ::-webkit-scrollbar-thumb{
    background: rgb(131, 131, 131);
    border-radius: 8px;
    transition: 2s;
  }
  
  
  ::-webkit-scrollbar-thumb:hover{
    background: #fff;
    transition: 2s;
  }
  
  
  /* ================================================= */


  /* =================ENJOY=========
  ================ */

  .enjoy_title{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 70px;
    color:#252525;
    letter-spacing: 0.06em;
    text-align: center;
  }

  
  .enjoy_inner{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    margin-bottom: 160px;
  }

  .enjoy_img img{
    display: block;
    object-fit: cover;
    margin-left: 50px;
  } 


  /* ================RESPONSIVE ENJOY=======
  ====================== */

@media screen and (max-width:1000px){
  .enjoy_title{
    font-size: 60px;
  }

  .enjoy_img img{
    width: 65px;
  }
}

@media screen and (max-width:850px){
  .enjoy_title{
    font-size: 50px;
  }

  .enjoy_img img{
    width: 57px;
  }
}

@media screen and (max-width:710px){
  .enjoy_title{
    font-size: 40px;
  }

  .enjoy_img img{
    width: 50px;
    margin-left: 35px;
  }

}

@media screen and (max-width:580px){
  .enjoy_title{
    font-size: 30px;
  }

  .enjoy_img img{
    width: 35px;
    margin-left: 35px;
  }
}

@media screen and (max-width:490px){
  .enjoy_inner {
    margin-bottom: 80px;
  }
}


@media screen and (max-width:440px){
  .enjoy_title{
    font-size: 25px;
  }
}

@media screen and (max-width:375px){
  .enjoy_title{
    font-size: 20px;
  }

  .enjoy_img img{
    width: 30px;
    margin-left: 25px;
  }
}


/* ==============FOOTER IMG============
================ */

.footer_img img{
  object-fit: cover;
  display: block;
  max-width: 100%;
  background-size:cover;
}